<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%- title %></title>
    <link rel="stylesheet" href="./assets/style/all.css" />
  </head>

  <body>
    <main>
      <header class="header">
        <span>Here's</span>
        <h1>JOANNE</h1>
        <span>Founder of “XXXD Official’’ & Graphic Designer</span>
        <ul class="header-icons">
          <li>
            <img src="/app/assets/images/week2/behance.svg" alt="behance.svg" />
          </li>
          <li>
            <img
              src="/app/assets/images/week2/facebook.svg"
              alt="facebook.svg"
            />
          </li>
          <li>
            <img
              src="/app/assets/images/week2/instagram.svg"
              alt="instagram.svg"
            />
          </li>
          <li>
            <img src="/app/assets/images/week2/youtube.svg" alt="youtube.svg" />
          </li>
        </ul>
      </header>
      <section class="about"></section>
      <section class="brand"></section>
      <section class="works"></section>
      <footer class="footer"></footer>
    </main>
  </body>
</html>
